.section-affiliate-banner {
  background: linear-gradient(180deg, #CCF3FF 0%, #90E0EF 100%);
  margin-bottom: 33px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 33px;
    position: absolute;
    bottom: -33px;
    left: 0;
    right: 0;
    background: url(../img/icon/affiliate/aff-banner-bg-bottom.svg);
    background-size: cover;
    z-index: 1;
  }
}
.section-affiliate-how {
  background-color: #F3F6FA;
  position: relative;
  margin-top: -33px;
}
.section-affiliate-feature {
  background-color: #6AFDEF;
  margin-bottom: 33px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 33px;
    position: absolute;
    bottom: -33px;
    left: 0;
    right: 0;
    background: url(../img/icon/affiliate/aff-feature-bg-bottom.svg);
    background-size: cover;
    z-index: 1;
  }
}
.section-affiliate-faq {
  background-color: #F3F6FA;
  position: relative;
  margin-top: -33px;
}

.mc-text-head {
  color: #020A13;
}
.mc-text-dark {
  color: #091929;
}
.mc-text-sub-head {
  color: #22364C;
}
.mc-text-secondary {
  color: #576E87;
}

.mb-150 {
  margin-bottom: 150px;
}

.count-box {
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 240px;
  margin: 0 12.5px;
}



@include media-breakpoint-down(md) { 
   .section-affiliate-how, .section-affiliate-banner {
     text-align: center;
   }
   .lg-text-center {
     text-align: center;
   }
}

.aff-particle {
  position: absolute;
  display: inline-block;
  &.particle-1 {
    left: 0;
    bottom: 20px;
  }
  &.particle-2 {
    right: 30px;
    top: 100px;
  }
  &.particle-3 {
    left: 177px;
    bottom: -25px;
    z-index: 2;
  }
  &.particle-4 {
    left: 243px;
    bottom: -54px;
    z-index: 0;
  }
  &.particle-5 {
    right: 30px;
    bottom: 102px;
  }
  &.particle-6 {
    left: -10px;
    bottom: 44px;
    z-index: 2;
  }
  &.particle-7 {
    left: -18px;
    bottom: -40px;
    z-index: 0;
  }
  &.particle-8 {
    right: 33px;
    bottom: 20px;
    z-index: 2;
  }
  &.particle-9 {
    left: 80px;
    top: 0;
  }
  &.particle-10 {
    right: -17px;
    bottom: 10px;
    z-index: 0;
  }
}

.faq-accrodation {
  .card {
    background: #FFFFFF;
    border: 1px solid #BED5EE;
    box-shadow: 0px 3.75px 7.5px rgba(190, 213, 238, 0.25);
    border-radius: 5px;
    .card-header {
      padding: 20px 40px 20px 40px;
      border: 0;
      background-color: #ffffff;
      border-radius: 5px;
    }
    .card-body {
      padding: 0 40px 20px 40px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.aff-action-box {
  background: linear-gradient(180deg, #007BFF 0%, #0851DF 100%);
  box-shadow: 0px 3.75px 7.5px rgba(190, 213, 238, 0.25);
  border-radius: 10px;
  padding: 40px 100px;
  position: relative;
  z-index: 1;
  .box-lady {
    position: absolute;
    bottom: -6px;
    right: 16px;
    @include media-breakpoint-down(md) { 
       display: none; 
    }
  }
  @include media-breakpoint-down(md) { 
    padding: 40px;
  }
  .btn-success {
    background-color: #06D6A0;
    border-color: #06D6A0;
    color: #0C503E;
    &:hover, &:active, &:focus {
      background-color: darken(#06D6A0, 5%)!important;
      border-color: darken(#06D6A0, 5%)!important;
      color: #ffffff!important;
    }
  }
}
.aff-action-bg {
  &:after {
    content: '';
    position: absolute;
    bottom: 62px;
    left: 30px;
    right: 20px;
    z-index: 0;
    height: 301px;
    display: inline-block;
    background: url(../img/icon/affiliate/aff-box-bg.svg);
    background-size: cover;
  }
}

.mc-text-light-blue {
  color: #C6D6F9;
}

.text-underline {
  text-decoration: underline;
}

@include media-breakpoint-down(md) { 
    .font-64 {
      font-size: $font-40;
    }
}